<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.mybatis.mapper.NoteMapper">
  <resultMap id="BaseResultMap" type="Note">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="category" jdbcType="INTEGER" property="category" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from note where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.summer.mybatis.entity.Note">
    insert into note (pid, category) values (#{pid,jdbcType=INTEGER}, #{category,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.summer.mybatis.entity.Note">
    update note
    set pid = #{pid,jdbcType=INTEGER},
      category = #{category,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, pid, category
    from note
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, pid, category from note
  </select>

  <select id="selectByPId" resultMap="BaseResultMap">
    select * from note where pid = #{arg0,jdbcType=INTEGER}
  </select>
</mapper>